In [205]:
import pandas as pd
import numpy as np
import ast

In [206]:
#read csv in pandas dataframe
df_movie_metadata=pd.read_csv("movies_metadata.csv")

/var/folders/c9/whb3jh8n0sz1zw9tjll5y44r0000gn/T/ipykernel_21266/579281800.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movie_metadata=pd.read_csv("movies_metadata.csv")

In [207]:
#see top 5 rows of dataframe df_movie_metadata
df_movie_metadata.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",NaN,8844,tt0113497,en,Jumanji,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",NaN,15602,tt0113228,en,Grumpier Old Men,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max.",...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for Love.,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, Glo and Robin talk it all out, determined to find a better way to breathe.",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself... and never let you forget it.,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home, but that's a plan that -- like George -- will have to change with the arrival of both a grandchild and a kid of his own.",...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,Father of the Bride Part II,False,5.7,173.0

In [208]:
# Overview of the table and associated 
df_movie_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [269]:
df_movie_metadata_cleaned=df_movie_metadata.copy()

In [270]:
#This entire code is to create a new table for genre id and description of the genre. 
# Genre is subset from the movies tables

# Extract the 'genres' column
data_genre_raw = df_movie_metadata[['genres']].copy()


# Function to convert string representation of list to actual list
def str_to_list(s):
    return ast.literal_eval(s)


# Apply the function to the 'genres' column
data_genre_raw['genres'] = data_genre_raw['genres'].apply(str_to_list)


# Flatten the list of lists into a single list of dictionaries
flattened_genres = [genre for sublist in data_genre_raw['genres'] for genre in sublist]
# Create a DataFrame from the flattened list
df_genres = pd.DataFrame(flattened_genres)

# Remove duplicates
df_unique_genres = df_genres.drop_duplicates().reset_index(drop=True)

# Inspect the resulting DataFrame
print("DataFrame with genre_Id and Name of genre_Id:")
print(df_unique_genres)

DataFrame with genre_Id and Name of genre_Id:
       id                                   name
0      16                              Animation
1      35                                 Comedy
2   10751                                 Family
3      12                              Adventure
4      14                                Fantasy
5   10749                                Romance
6      18                                  Drama
7      28                                 Action
8      80                                  Crime
9      53                               Thriller
10     27                                 Horror
11     36                                History
12    878                        Science Fiction
13   9648                                Mystery
14  10752                                    War
15  10769                                Foreign
16  10402                                  Music
17     99                            Documentary
18     37                                Western
19  10770                               TV Movie
20  11176                   Carousel Productions
21  11602              Vision View Entertainment
22  29812       Telescene Film Group Productions
23   2883                                Aniplex
24   7759                                GoHands
25   7760                              BROSTA TV
26   7761  Mardock Scramble Production Committee
27  33751                       Sentai Filmworks
28  17161                          Odyssey Media
29  18012                     Pulser Productions
30  18013                            Rogue State
31  23822                             The Cartel

In [211]:
# This part of the code is create a relationship table between movies table and genre_id
# Genre is subset from the movies tables

movieId_genreId_df = df_movie_metadata[['genres', 'id']]
#function to convert string to list
def str_to_list(s):
    return ast.literal_eval(s)

# Apply the function to the 'genres' column
movieId_genreId_df['genres'] = movieId_genreId_df['genres'].apply(str_to_list)

# Create a new column with genre_ids only
movieId_genreId_df['genre_ids'] = movieId_genreId_df['genres'].apply(lambda genres: [genre['id'] for genre in genres])

# Use explode to split lists into separate rows with one genre_id in each row
movieId_genreId__final_df = movieId_genreId_df.explode('genre_ids')

# # Rename columns for clarity
movieId_genreId__final_df.rename(columns={'genre_ids': 'genre_id'}, inplace=True)
#Drop the column genres as from the data frame
movieId_genreId__final_df.drop(columns=['genres'],inplace=True)

# movieId_genreId__final_df = movieId_genreId__final_df.drop_duplicates().reset_index(drop=True)

# # Display the resulting DataFrame
print(movieId_genreId__final_df.head(10))

      id genre_id
0    862       16
0    862       35
0    862    10751
1   8844       12
1   8844       14
1   8844    10751
2  15602    10749
2  15602       35
3  31357       35
3  31357       18

/var/folders/c9/whb3jh8n0sz1zw9tjll5y44r0000gn/T/ipykernel_21266/1244900810.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieId_genreId_df['genres'] = movieId_genreId_df['genres'].apply(str_to_list)
/var/folders/c9/whb3jh8n0sz1zw9tjll5y44r0000gn/T/ipykernel_21266/1244900810.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieId_genreId_df['genre_ids'] = movieId_genreId_df['genres'].apply(lambda genres: [genre['id'] for genre in genres])

In [237]:
# remove the columns from dataset which are not useful

# df_movie_metadata_cleaned.drop(columns=['genres','belongs_to_collection','overview','homepage']).head(5)

In [271]:
#this entire code is to create a new table for production id and name of production company 
# production company is subset of the movies tables

# Extract the 'genres' column
data_production_company_raw = df_movie_metadata[['production_companies']].copy()
data_production_company_cleaned=data_production_company_raw.dropna()

# Function to convert string representation of list to actual list

def str_to_list(s):
    try:
        # Use ast.literal_eval to safely evaluate the string as a Python expression
        return ast.literal_eval(s)
    except (ValueError, SyntaxError):
        # If evaluation fails, return an empty list or appropriate value
        return []

# Apply the function to the 'genres' column
data_production_company_cleaned['production_companies'] = data_production_company_cleaned['production_companies'].apply(str_to_list)
data_production_company_cleaned = data_production_company_cleaned[data_production_company_cleaned['production_companies'].apply(lambda x: isinstance(x, list))]

# Flatten the list of lists into a single list of dictionaries
flattened_production = [product for sublist in data_production_company_cleaned['production_companies'] for product in sublist]
# Create a DataFrame from the flattened list
df_production = pd.DataFrame(flattened_production)

# # Remove duplicates
df_unique_production= df_production.drop_duplicates().reset_index(drop=True)

# # Inspect the resulting DataFrame
columns=['id','name']
df_unique_production=df_unique_production.reindex(columns=columns)
print("DataFrame with ID and Name:")
print(df_unique_production.head(2))

DataFrame with ID and Name:
    id                     name
0    3  Pixar Animation Studios
1  559         TriStar Pictures

/var/folders/c9/whb3jh8n0sz1zw9tjll5y44r0000gn/T/ipykernel_21266/2419820745.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_production_company_cleaned['production_companies'] = data_production_company_cleaned['production_companies'].apply(str_to_list)

In [268]:
# This part of the code is create a relationship table between movies table and production company id
# production company is subset from the movies tables

import pandas as pd
import ast

df_new = df_movie_metadata[['production_companies', 'id']].copy()

# Function to extract production company IDs and create a relationship table
def extract_relationships(df):
    relationships = []
    
    for index, row in df.iterrows():
        if row['id'] == 'id':  # Skip the header row
            continue
        production_companies = row['production_companies']
        if isinstance(production_companies, str):
            try:
                production_companies = ast.literal_eval(production_companies)
                if isinstance(production_companies, list):
                    for company in production_companies:
                        if isinstance(company, dict) and 'id' in company:
                            relationships.append({'movie_id': row['id'], 'company_id': company['id']})
            except (ValueError, SyntaxError):
                # Handle rows where production_companies cannot be parsed
                continue

    return pd.DataFrame(relationships)

# Create the relationship table
relationship_df = extract_relationships(df_new)

# Display the first few rows of the relationship table
print(relationship_df.head(2))
print(relationship_df.count())

# # Optionally, save the relationship table to a CSV file
# relationship_df.to_csv('relationship_table.csv', index=False)

  movie_id  company_id
0      862           3
1     8844         559
movie_id      70545
company_id    70545
dtype: int64